@media (max-width: 576px) {
    .ps-3{
        font-size:1.7rem !important;
    }
    .ps-4{
        font-size:1.4rem !important;
    }
    .lead {
        font-size: 10px;
        font-weight: 300;
    }
}

