::-webkit-scrollbar {
    display: fixed;
    background-color: white;
    width: 7px;
 }
 ::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196);
    border-radius: 50px;
 }
 ::-webkit-scrollbar-thumb:hover {
    background: #1245ba;
 }

#header-hero-1{
    margin-bottom: 200px;
}
body{
    padding: 0px;
}
#header-hero{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('https://source.unsplash.com/1600x900?white');
    background-position: center;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
