::-webkit-scrollbar {
    display: fixed;
    background-color: white;
    width: 7px;
 }

 ::-webkit-scrollbar-thumb {
    background: #EBEBEB;
    border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb:hover {
    background: #D6D6D6;
 }
/*