::-webkit-scrollbar {
    display: fixed;
    background-color: white;
    width: 7px;
 }
 ::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196);
    border-radius: 50px;
 }
 ::-webkit-scrollbar-thumb:hover {
    background: #1245ba;
 }
/*